<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ResultManagement.Properties.Settings.ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=resultRec.accdb;Jet OLEDB:Database Password=0505013046898" />
        <add name="ResultManagement.Properties.Settings.ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=resultRec.accdb;Jet OLEDB:Database Password=0505013046898"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>